<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axiamireader"
    android:versionCode="14"
    android:versionName="4.6.8">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:name="com.axiamireader.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/syreader"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data android:name="android.max_aspect" android:value="2.4" />
        <!--<meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}" />-->

        <activity
            android:name="com.axiamireader.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppLaunchTheme2"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <!--android:alwaysRetainTaskState='true'-->
            <!--android:launchMode="singleInstance"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.axiamireader.MainActivity"
            android:icon="@mipmap/syreader"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppLaunchTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:screenOrientation="portrait"/>

        <!-- 声明 SDK 所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        <!-- 请开发者注意字母的大小写，ADActivity，而不是 AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.axiamireader.BannerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>
